body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(230, 230, 248);
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>div{
    margin: 5em;
    line-height: 80%;
}
h1{
    font-size:300%;
    font-style: bold;
    color: rgb(72, 72, 255);
    word-spacing: 90%;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    background-color: white;
    width: 30vw;
    height: 50vh;
    padding: 20px;
    border: rgba(71, 75, 78, 0.192) solid 1px;
    border-radius: 7px;
    box-shadow: rgba(73, 72, 70, 0.26) 2px 2px 5px;
}
input[type="text"],
input[type="email number"],
input[type="password"],
input[type="button"]{
    padding: 7px;
    margin: 5px;
    border: rgba(77, 74, 70, 0.404) solid 1px;
    border-radius: 5px;
    background-color: white;
    width: inherit;
    width: 90%;
    height: 20%;
}
input[type="text"]{
    width:41%;
}
legend{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    margin-left: 10px;
}
label{
    margin:0px 0px 0px 10px;
    font-size: small;
}
input#signup{
    font-size: large;
    color: white;
    background-color: rgb(72, 72, 255);
    align-self: center;
    height: 15%;
    cursor: pointer;
}
footer{
    height: fit-content;
    padding:5px 10vw 5px 10vw
}
p.languages,.copy{
    font-size: small;
    color: rgb(54, 54, 54);
}
footer a{
    text-decoration: none;
    font-size: small;
    color: rgb(62, 74, 85);
    margin-top: -5px;
}
#div1, footer,h2+h3{
    line-height: 5px;
}
h2{
    font-size: 200%;
}